.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;

  @include mq(mobile-only) {
    // padding: 0;
  }

  @include mq(tablet) {
    max-width: 768px;
    // padding: 0;
  }

  @include mq(desktop) {
    max-width: 1200px;
  }
}
